{% extends "base.html" %}
{% block content %}
    <h2>Authors</h2>
    <form method="GET" action="/authors">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Enter first name">
            </div>
            <div class="col-md-6">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Enter last name">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <div class="row mt-4">
        {% for author in authors %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ author.first_name }} {{ author.last_name }}</h5>
                    {% if author.description %}
                    <p class="card-text">{{ author.description }}</p>
                    {% else %}
                    <p class="card-text">No description available for this author.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
