{% extends "base.html" %}
{% block content %}
    <h2>Create New Author</h2>
    <form method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required>
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required>
        <br>
        <label for="description">Description:</label>
        <textarea name="description"></textarea>
        <br>
        <input type="submit" value="Create Author">
    </form>
{% endblock %}
